.container {
	margin-top: 10px;
}

body {
	height: 960px;
}

#header {
	width: 100%;
	text-align: center;
}

.navbar {
	background-color: #55D287;
}

#logoTitlePackage {
    padding: 5px 5px;
}

#navTitle {
	display: inline;
	font-size: 20px;
	vertical-align: middle;
	color: black;
}

#navLogo {
	display: inline;
	height: 40px;
}

.nav-button {
	color: black;
}

#in_div {
	color: black;
	display: initial;
}

#out_div {
	color: black;
	display: none;
}

.jumbotron {
	height: 500px;
	background-color: #55D287;
}

#navLogoSignIn {
	height: 65px;
	width: 55px;
	margin-bottom: 25px;
}

#flower-image {
	width: 480px;
	margin-left: 100px;
	height: 400px;
	border: black 2px solid;
	margin-right: 40px;
	display: block;
	margin-bottom: 30px;
}

#flower-info {
	width: 480px;
	display: block;
	margin-left: 100px;
	height: 400px;
	border: black 2px solid;
	margin-right: 40px;

}

#listBar {
	margin-left: 300px;
	height: 830px;
	overflow: auto;
	padding: 0px;
	padding-right: 0px;
}

.flowerButton {
	height: 3em;
	font-weight: bolder;
	display: inline-block;
	background-color:  lightgreen;
	border: black 1px solid;
	color: black;
}

.center {
	text-align: center;
	font-family: sans-serif;
}

h5 {
	font-size: 14px;
}

#user_id {
	color:black;
}

#logout {
	color: black;
}